{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/css/style.css' %}">
</head>
<body>
    <h1>{{title}}</h1>
<!--    <p>{ {msg} }</p>-->
    <p>{{message|safe}}</p>
<!--    <p><a href="{ % url goto % }">{{goto}}</a></p>-->
<!--    <form action="{ % url 'form' % }" method="post">-->
    <table>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
    <!--        <label for="msg">message: </label>-->
    <!--        <input id="msg" type="text" name="msg">-->
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" value="click"></td>
            </tr>
        </form>
    </table>
</body>
</html>